/*
 * at91-som60.dtsi - Device Tree file for the SOM60 module
 *
 *  Copyright (C) 2018 Laird,
 *		  2018 Ben Whitten <ben.whitten@lairdtech.com>
 *		  2018 Boris Krasnovskiy <boris.krasnovskiy@lairdtech.com>
 *
 * Licensed under GPLv2 or later.
 */
#include "sama5d36.dtsi"

/ {
	model = "Laird SOM60";
	compatible = "laird,som60", "atmel,sama5d36", "atmel,sama5d3", "atmel,sama5";

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory {
		reg = <0x20000000 0x8000000>;
	};

	ahb {
		apb {
			pinctrl@fffff200 {
				board {
					pinctrl_nand0_wp: nand0_wp {
						u-boot,dm-pre-reloc;
						atmel,pins =
							<AT91_PIOE 14 AT91_PERIPH_GPIO AT91_PINCTRL_PULL_UP>;
					};
				};
			};
		};
	};
};

&mmc0 {
	slot@0 {
		reg = <0>;
		bus-width = <4>;
	};
};

&slow_xtal {
	clock-frequency = <32768>;
};

&main_xtal {
	clock-frequency = <12000000>;
};

&tcb0 {
	timer0: timer@0 {
		compatible = "atmel,tcb-timer";
		reg = <0>;
	};

	timer1: timer@1 {
		compatible = "atmel,tcb-timer";
		reg = <1>;
	};
};

&adc0 {
	pinctrl-0 = <
		&pinctrl_adc0_adtrg &pinctrl_adc0_ad0 &pinctrl_adc0_ad1
		&pinctrl_adc0_ad2   &pinctrl_adc0_ad3 &pinctrl_adc0_ad4
		&pinctrl_adc0_ad5
	>;
};

&macb0 {
	#address-cells = <1>;
	#size-cells = <0>;
	phy-mode = "rgmii";
};

&macb1 {
	#address-cells = <1>;
	#size-cells = <0>;
	phy-mode = "rmii";
};


&nand0 {
	pinctrl-0 = <&pinctrl_nand0_ale_cle &pinctrl_nand0_wp>;
	nand-bus-width = <8>;
	nand-ecc-mode = "hw";
	atmel,has-pmecc;
	atmel,pmecc-cap = <8>;
	atmel,pmecc-sector-size = <512>;
	nand-on-flash-bbt;
	status = "okay";

	ubootspl@0 {
		label = "u-boot-spl";
		reg = <0x0 0x20000>;
	};

	uboot@20000 {
		label = "u-boot";
		reg = <0x20000 0x80000>;
	};

	ubootenv@a0000 {
		label = "u-boot-env";
		reg = <0xa0000 0x20000>;
	};

	ubootenv@c0000 {
		label = "u-boot-env";
		reg = <0xc0000 0x20000>;
	};

	ubi@e0000 {
		label = "ubi";
		reg = <0xe0000 0xfe00000>;
	};
};
