// SPDX-License-Identifier: GPL-2.0
/*
 * at91-wb50n.dts - Device Tree file for wb50n evaluation board
 *
 *  Copyright (C) 2018 Laird
 *
 */

/dts-v1/;
#include "at91-wb50n.dtsi"

&mmc0 {
	status = "okay";
};

&macb1 {
	status = "okay";

	ethernet-phy@1 {
		reg = <1>;
	};
};

&dbgu {
	status = "okay";
};

&usb0 {
	status = "okay";
};

&usb1 {
	status = "okay";
};

&usb2 {
	status = "okay";
};
