// SPDX-License-Identifier: GPL-2.0
/*
 * at91-som60.dtsi - Device Tree file for the SOM60 module
 *
 *  Copyright (C) 2018-2022 Laird Connectivity,
 *		  2018 Ben Whitten <ben.whitten@lairdconnect.com>
 *		  2018 Boris Krasnovskiy <boris.krasnovskiy@lairdconnect.com>
 *
 */
#include "sama5d36.dtsi"

/ {
	chosen {
		stdout-path = "serial0:115200n8";
	};

	/*
	 * This is a development-only AES128 key passed from U-Boot into
	 * the kernel for the encrypted file systems; it will be
	 * replaced in manufacturing with a production key.
	 */
	encryption {
		laird,fs-key = <
			0xbf4a626e 0x68ddba72 0x36094531 0x15fa806c
			0x38862932 0x3078d54f 0x0b3e3d9f 0x0adfaae5
			0xb194f2cd 0x402bc3c6 0x35b7d66c 0xd06c9e8d
			0xc080cede 0xd8bff74a 0xc16c2cfe 0xeaca5bbf
		>;
	};

	ahb {
		apb {
			pinctrl@fffff200 {
				board {
					u-boot,dm-pre-reloc;
					pinctrl_nand0_wp: nand0_wp {
						u-boot,dm-pre-reloc;
						atmel,pins = <AT91_PIOE 14 AT91_PERIPH_GPIO AT91_PINCTRL_NONE>;
					};
				};
			};

			watchdog@fffffe40 {
				u-boot,dm-pre-reloc;
				status = "okay";
			};
		};
	};
};

&mmc0 {
	slot@0 {
		reg = <0>;
		bus-width = <4>;
	};
};

&slow_xtal {
	clock-frequency = <32768>;
};

&main_xtal {
	clock-frequency = <12000000>;
};

&macb0 {
	phy-mode = "rgmii-id";
	nvmem-cells = <&eth_mac0>;
	nvmem-cell-names = "mac-address";
};

&macb1 {
	phy-mode = "rmii";
	nvmem-cells = <&eth_mac1>;
	nvmem-cell-names = "mac-address";
};

&dbgu {
	u-boot,dm-pre-reloc;
	status = "okay";
};

&nand0 {
	pinctrl-0 = <&pinctrl_nand0_ale_cle &pinctrl_nand0_wp>;
	nand-bus-width = <8>;
	nand-ecc-mode = "hw";
	atmel,has-pmecc;
	atmel,pmecc-cap = <8>;
	atmel,pmecc-sector-size = <512>;

	/*
	 * Note - nand-on-flash-bbt requires the last 4 blocks on
	 * flash to be reserved for bad block table.  These blocks
	 * can be used in partitions only if bbt is not stored on flash.
	 */
	nand-on-flash-bbt;
	status = "okay";
};

&twi0_clk {
	u-boot,dm-pre-reloc;
};

&pinctrl_i2c0 {
	u-boot,dm-pre-reloc;
	atmel,pins =
		<AT91_PIOA 30 AT91_PERIPH_A AT91_PINCTRL_PULL_UP	/* PA30 periph A TWD0 pin, conflicts with URXD1, ISI_VSYNC */
		 AT91_PIOA 31 AT91_PERIPH_A AT91_PINCTRL_PULL_UP>;	/* PA31 periph A TWCK0 pin, conflicts with UTXD1, ISI_HSYNC */
};

&i2c0 {
	u-boot,dm-pre-reloc;
	status = "okay";
	clock-frequency = <400000>;

	som60_eeprom: eeprom@50 {
		u-boot,dm-pre-reloc;
		compatible = "atmel,24c02";
		reg = <0x50>;
		pagesize = <1>;

		/* For nvmem subnodes */
		#address-cells = <1>;
		#size-cells = <1>;

		nvmem-cells = <&board_hw_id>, <&eth_mac0>, <&eth_mac1>;
		nvmem-cell-names = "hw-id", "mac-address0", "mac-address1";

		board_hw_id: hw-id@0 {
			u-boot,dm-pre-reloc;
			reg = <0x00 0x02>;
		};

		eth_mac1: mac-address@8 {
			u-boot,dm-pre-reloc;
			reg = <0x08 0x06>;
		};
		eth_mac0: mac-address@2 {
			u-boot,dm-pre-reloc;
			reg = <0x02 0x06>;
		};
	};
};
