config SYS_SPL_MENU
	bool "spl_menu - mini menu in SPL"
	depends on SPL_NVMEM
	depends on SPL_I2C_EEPROM
	default false
	help
		This menu allows programming and verification of board HW ID and MAC addresses in manufacturing test.  This may be necessary prior to initializing RAM to run full u-boot.

if TARGET_SOM60

config SYS_BOARD
	default "som60"

config SYS_VENDOR
	default "laird"

config SYS_CONFIG_NAME
	default "som60"

endif

if TARGET_SOM60X2

config SYS_BOARD
	default "som60"

config SYS_VENDOR
	default "laird"

config SYS_CONFIG_NAME
	default "som60x2"

endif

if TARGET_IG60

config SYS_BOARD
	default "som60"

config SYS_VENDOR
	default "laird"

config SYS_CONFIG_NAME
	default "ig60"

endif

if TARGET_WB50N

config SYS_BOARD
	default "som60"

config SYS_VENDOR
	default "laird"

config SYS_CONFIG_NAME
	default "wb50n"

endif

if TARGET_WB50N_SYSD

config SYS_BOARD
	default "som60"

config SYS_VENDOR
	default "laird"

config SYS_CONFIG_NAME
	default "wb50n_sysd"

endif
