if TARGET_SOM60

config SYS_BOARD
	default "som60"

config SYS_VENDOR
	default "laird"

config SYS_CONFIG_NAME
	default "som60"

endif

if TARGET_SOM60X2

config SYS_BOARD
	default "som60"

config SYS_VENDOR
	default "laird"

config SYS_CONFIG_NAME
	default "som60x2"

endif

if TARGET_IG60

config SYS_BOARD
	default "som60"

config SYS_VENDOR
	default "laird"

config SYS_CONFIG_NAME
	default "ig60"

endif

if TARGET_WB50N

config SYS_BOARD
	default "som60"

config SYS_VENDOR
	default "laird"

config SYS_CONFIG_NAME
	default "wb50n"

endif

if TARGET_WB50N_SYSD

config SYS_BOARD
	default "som60"

config SYS_VENDOR
	default "laird"

config SYS_CONFIG_NAME
	default "wb50n_sysd"

endif

config SYS_EEPROM_SETUP
	bool "Run-time EEPROM based Module Configuration"
	default y
	depends on TARGET_SOM60 || TARGET_SOM60X2 || TARGET_IG60
	select DM_I2C
	select SYS_I2C_AT91
	select I2C_EEPROM
	select NVMEM
	select ID_EEPROM
	select SPL_I2C if SUPPORT_SPL
	select SPL_I2C_EEPROM if SUPPORT_SPL
	select SPL_NVMEM if SUPPORT_SPL

config SPL_SYS_MENU
	bool "Board configuration SPL Menu"
	depends on SYS_EEPROM_SETUP
	help
		Enables programming and verification into EEPROM of
		board HW ID and MAC addresses for manufacturing.
		HW ID identifies DRAM type insttalled on the module
		This is required to run prior to initializing DRAM
